/** STICKY VERTICAL NAVIGATION **/

[class*='sticky--'] {
	position: fixed;
	top: 50%;

	@media (--small) {
		display: none;
	}
}

.sticky--left {
	right: auto;
	left: -115px;
	transform: rotate(-90deg) translateY(-50%);

	@media (--medium) {
		left: -125px;
	}
}

.sticky--right {
	right: -115px;
	transform: rotate(90deg) translateY(-50%);

	@media (--medium) {
		right: -125px;
	}
}

.nav-social__item {
	display: inline-block;
	margin: 0 5px;
	font-family: var(--font-headline);
	font-weight: bold;
	font-size: .625rem;
	text-decoration: none;
	letter-spacing: .06rem;
}

.nav-social__item--email {
	&::before {
		display: inline-block;
		content: "";
		width: 25px;
		height: 2px;
		margin-right: 15px;
		vertical-align: middle;
		background-color: var(--color-brand);
	}
}
