#talentum-sites-header,
#header,
#menus,
#content,
.columns-1-1,
.columns-1-2,
.columns-2-1,
.columns-3-1,
.columns-1-1-1,
.columns-1-1-1-1,
FORM,
FORM .group,
FORM .radio-group,
FORM .radio-group DIV,
.section-heading,
UL.page-menu,
.tag-sidebar,
.tag-sidebar H1,
.teaser,
.teaser P,
.article .dateline,
.links .columns,
#recommend,
.media-slideshow UL,
#comments P,
#comments H2,
.comment,
.comment .entry-content,
.comment .entry-meta,
.create-new-comment,
.create-new-comment FIELDSET,
.zoom,
.box-body,
.box-body UL, 
.box-body OL,
.vevent,
.tags,
.links,
.tags UL,
UL.tags,
.form-box,
.results OL LI,
#footer .general-links,
#footer .general-links .content,
.fact,
.facts,
.article H1,
.form-box-advanced-search .free-text,
.form-box-advanced-search .time-frame,
.form-box-advanced-search DIV,
.form-box-login,
#submenu,
.create-new-comment .alert-box .captcha,
.tabbed-box-part,
.carousel-box-part,
.dm-plus .small-teaser,
.dm-plus .small-teaser .subteaser,
.dm-plus-box .magazine,
.news-flash,
.columns-1-1 .news-flash, 
.columns-1-2 .news-flash, 
.columns-3-1 .news-flash, 
.columns-1-1-1 .news-flash,
.opinion-type-1 DIV,
.columns-1-1-1 .tags LI,
.magazine-archive LI,
.magazine-teaser,
.poll .result,
.poll .question,
.media-video,
.media-audio,
.live-feeds LI,
.editor-side-bar,
#tw_toplist_widget .tw_item,
.media-archive,
#top-teasers .teaser H2,
.article,
.opinion-teaser,
.opinion-type-1 DIV A {
	height: 1%;
}
.box-body UL, 
.box-body OL,
.opinion-type-1 DIV {
	overflow: visible;
}
.columns-1-1,
.columns-1-2,
.columns-2-1,
.columns-3-1,
.columns-1-1-1 {
	 margin-right: -3px;
}
.article .additional-content,
#menu .selected {
	position: relative;
}
#menu .selected,
#menu .selected a {
	background-image: none;
}
.media-slideshow .navigation .next,
.media-slideshow .navigation .previous { behavior: url(../javascript/iepngfix/iepngfix.htc); cursor: pointer; }
.media-slideshow .navigation { background: #333; }

.simple-login {
	width: 99%;
}
.simple-login INPUT {
	width: 166px !important;
}
.simple-login INPUT.submit {
	width: auto !important;
}
#top-teasers {
	z-index: -1;
}
.page-opinions .columns-2-1 .column1 .opinion-teaser .links,
.media-audio .links {
	height: auto;
}