#talentum-sites-header,
#header,
#content,
.columns-1-1,
.columns-1-2,
.columns-2-1,
.columns-1-1-1,
.columns-1-1-1-1,
FORM,
FORM .group,
FORM .radio-group,
FORM .radio-group DIV,
#menus UL,
.media-grid-1-1 DIV,
.media-grid-1-1-1-1 DIV,
.section-heading,
UL.page-menu,
.tag-sidebar,
.tag-sidebar H1,
.article .dateline,
.links .columns,
.article-blog,
.article-job DIV.apply,
#recommend,
.media-slideshow UL,
.text-ads,
#comments P,
#comments H2,
.comment,
.comment .entry-content,
.comment .entry-meta,
.create-new-comment,
.create-new-comment FIELDSET,
.zoom,
.box-body,
.box-body UL, 
.box-body OL,
.teaser,
.subteaser,
.pullteaser,
.job-teaser,
.small-teaser,
.career-teaser,
.blog-teaser-large,
.tags,
.links,
.jobs,
.tags UL,
UL.tags,
.article .jobs UL,
.jobs LI,
.form-box DIV,
.results OL LI,
.logo-grid DIV,
.internal-banners,
#footer .general-links,
#footer .general-links .content,
.fact,
.facts,
.poll .result,
.poll .question,
.job-teaser LI A,
.job-teaser .footer,
.accordion-part-content,
.accordion,
.create-new-comment .alert-box .captcha,
.auto-completion-list,
.video-results LI,
.media-teaser,
.media-teaser DIV,
.media-teaser UL.media {
	height: 1%;
}
#footer,
.toolbox-teaser .content,
.toolbox-teaser .content-guides UL,
.internal-ad > DIV,
.job-feature-teaser .content,
.article .person,
.subheader-titles,
.subheader-titles ul,
.fancylist,
.logo-grid {
	zoom: 1;
}
.fact {
	float: left;
}
LI A {
	display: inline-block;
}
LI A {
	display: block;
}
.logo-grid A,
.comments-grid .comment {
	display: inline;
}
.box-body UL, 
.box-body OL {
	overflow: visible;
}
.more {
	height: 10px;
}
.article .tools,
.article .dateline .comments-info {
	right: 11px;
}
.columns-1-1-1 .column2 {
	padding-right: 10px;
}
.feature-teaser .more,
.job-teaser .more {
	background: none;
	height: auto;
	text-decoration: underline;
}
.feature-teaser .more SPAN,
.job-teaser .more SPAN {
	background: none;
	height: auto;
}
.job-teaser .footer {
	height: 23px;
}
.columns-1-1,
.columns-1-2,
.columns-2-1,
.columns-1-1-1,
.job-teaser .more {
	 margin-right: -3px;
}
.article .jobs {
	width: 100%;
	overflow: hidden;
}
.article .jobs A {
	width: 158px;
	margin-left: -3px;
}
.article-definition .tag {
	left: -20px;
}
.box-definition LI,
.box-definition A {
	display: inline;
}
.box-definition H2 {
	border-right: 11px solid white;
}
.job-results OL LI A {
	padding-bottom: 0;
}
.video-results .image {
	left: 178px;
}
.video-results .image SPAN {
	behavior: url(/ingenjorskarriar/static/ver02/javascript/iepngfix.htc);
}
.input-description {
	background: #f2f9ff;
}
.job-statistics-definition {
	background: #f2f9ff;
}
.job-heading {
	height: 104px;
}