{% macro navSocial(class) %}
	<div class="sticky--{{ class }}">
		<nav class="nav-social" role="navigation">
		  <a href="https://twitter.com/kantorpweglin" target="_blank" class="nav-social__item" href="#">Twitter</a>
		  <a href="https://se.linkedin.com/in/razi-kantorp-weglin-97336835" target="_blank" class="nav-social__item" href="#">LinkedIn</a>
		  <a href="https://dribbble.com/razitazi" target="_blank" class="nav-social__item" href="#">Dribbble</a>
		  <a class="nav-social__item nav-social__item--email" href="mailto:hi@razitazi.com">hi@razitazi.com</a>
		</nav>
	</div>
{% endmacro %}
