<section class="section--intro">
	<div class="box--intro-img chill" data-rellax-speed="7">
		<div class="lazy-wrap lazy-wrap--portrait">
			<img data-src="assets/img/razi-kantorp-weglin.jpg" class="lazyload">
		</div>
	</div>
	<div class="box--intro-main">
		<div class="box--intro-main__headline chill" data-rellax-speed="0">
			<div class="site-logo">
  			<img src="assets/img/razitazi-logo.svg">
			</div>
			<p>
				Hi, I’m <strong>Razi Kantorp-Weglin</strong>, experienced digital designer, front-end developer and a lot of other stuff.
			</p>
			<p>
				Based in <span class="its-the-past">Telv Aviv</span>, <span class="its-the-past">Stockholm</span>, Hälsingland, Sweden and currently a happy CEO @ <a href="https:/krig.io" target="_blank">KRIGio</a>. Feel free to <a href="mailto:razi@krig.io" target="_blank">get in touch</a> about interesting projects, stupid projects, dinosaurs and cats.
			</p>
			<p class="finstilta">
				(Not interested in any full-time positions.)
			</p>
		</div>
	</div>
</section>
