/* General fixes that needs to be included but is not appliable in specific Media Queries */
/***/
body {
 padding-top: 0;
 -webkit-text-size-adjust: none;
}

.menu-toggle {
 display: none;
}

.mobile-only {
 display: none;
}

.desktop-only {
 display: block;
}

.top-bar {
 display: none;
}

body.resp .header-resp-switch{
 position: static;
 padding-top: 10px;
 padding-left: 10px;
}
body.resp .top-bar {
 padding-bottom: 0!important;
}
body.resp #header .tools{
 display:none;
}

.container {
 width: 100%;
 height: 100%;
 position: relative;
 margin: 0 auto;
}

#ad-content {
 background: #FFF;
}

@media screen and (min-width:300px) and (max-width: 768px) {
 /*Revamped Top-teasers*/
 #header {
   display: inline-block;
   position: relative;
   width: 100%;
 }
 #header #logo {
   position: relative;
   left: 50px;
   top: 10px;
   float: left;
   display: block;
 }
 #top-teasers {
   position: relative;
   top: 5px !important;
   width: 100%;
   height: 126px;
   float: right;
   left:0;
   background: transparent;
 }
 /* //Revamped Top-Teasers */
 form.form-box.form-box-search {
   float: left;
   text-align: left;
   top: 0;
 }
 .sticky-top .ad {
   width: 100%;
   top: 50px;
 }
 #sticky-top {
   position: relative;
   z-index: 99;
   left: 0;
   top: 0;
   width: 100%;
   background: #fff;
   margin: 0;
   border: 0;
   padding: 0 0px;
 }
 #menu .selected A {
   background: none;
 }
 .phoneMessage {
   display: none;
 }
 /*
 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100% !important;
 font: inherit;
 vertical-align: baseline;
}*/
 /* HTML5 display-role reset for older browsers */
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
   {
   display: block;
 }
 body {
   line-height: 1;
 }
 html {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   overflow-x: hidden;
 }
 .container {
   width: 100%;
   height: 100%;
   position: relative;
   margin: 0 auto;
   max-width: 980px;
   -webkit-overflow-scrolling: touch;
 }
 body {
   max-width: 1024px;
   width: 100%;
   min-width: 100%;
 }
 .create-new-comment-reply {
   margin-left: 0;
 }
 .teaser-group-heading {
   margin-bottom: 30px;
   width: 90%;
 }
 #authenticatorPopup>iframe {
   width: 100%;
   height: 100%;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 }

 div.type-default.open{
   margin: 5px 0;
 }

 .page-prenumerera.page-login .column1,.page-prenumerera.page-login .column2,.page-prenumerera.page-login .column3,.page-prenumerera.page-login .column4
   {
   float: none;
   overflow: hidden;
   width: 95% !important;
   margin: 0 auto 0 0% !important;
 }
 .page-prenumerera.page-login .form-box-login #simple-user-name {
   padding-right: 14px;
   width: 60% !important;
   margin: 0 auto 0 25px;
 }
 .page-prenumerera.page-login .form-box-login #simple-user-password.inline-label-active
   {
   padding-right: 14px;
   width: 60% !important;
   margin: 0 auto 0 25px;
 }
 .page-prenumerera.page-login #content .article .buttonClose {
   display: block;
   padding: 10px;
   height: 15px !important;
   width: 15px !important;
   position: absolute;
   top: -275px !important;
   left: 69% !important;
 }
 #menus-right .mobile-only {
 display:none;
 }
}

@media screen and (min-width:1024px) and (max-width: 1030px) {
 #top-teasers {
   position: absolute;
   z-index: 1;
   left: 312px;
   top: 0px;
   width: 672px;
   height: 126px;
   background: url(../images/bg_topTeasers.png) repeat-x 0 0;
 }
}

/* Media Queries */
@media screen and (min-width:300px) and (max-width: 1023px) {
 #menu .selected A {
   padding-top: 10px;
   padding-right: 6px;
   padding-left: 25px;
   border: 0;
   background: inherit;
   color: white;
 }

 .ad {
   width: 100%;
   padding: 0;
   height: auto;
   position: inherit;
   display: block;
   margin: 0px 0 15px 0 !important;
   border:0;
 }

 .ad IMG, .ad EMBED, .ad OBJECT, .ad IFRAME, .ad DIV, #sticky-ad IMG, #sticky-ad EMBED, #sticky-ad OBJECT, #sticky-ad IFRAME, #sticky-ad DIV {
   display: block;
   vertical-align: top;
   max-width: 100%;
 }

 table,thead,tbody,th,td,tr {
   display: block;
 }
 thead tr {
   position: absolute;
   top: -9999px;
   left: -9999px;
 }
 tr {
   padding: 5px 0;
 }
 td {
   border: none;
   position: relative;
   padding-left: 50%;
   max-width: 100%;
 }
 td:before {
   position: absolute;
   top: 6px;
   left: 6px;
   width: 45%;
   padding-right: 10px;
   white-space: nowrap;
 }
 .stockNews table {
   width: 100%;
   margin: 0;
   font-size: 0.8333em;
   line-height: 1.1;
 }
 img#logo {
   max-width: 240px;
   display: block;
 }
 #top-teasers .teaser H2 {
   width: 100%;
 }
 .articleCommentInfo {
   padding: 7px;
   margin: 11px 0 15px;
   background: url("../images/icon_info.png") no-repeat scroll 2px 2px
     #E5EFFF;
 }
 div.columns-3-1.first {
   width: 100%;
   position: relative;
 }
 .columns-3-1 .column1 {
   width: 100%;
 }
 .columns-3-1 .column1 .columns-2-1 {
   width: 100%;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 {
   width: 100%;
 }
 .columns-3-1 .column1 .columns-2-1 .column2 {
   width: 100%;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 {
   width: 100% !important;
   margin: 10px auto;
   margin-left: 0;
   padding-left: 0;
 }
 .columns-3-1 .column1 .columns-2-1 .column2 {
   min-width: 38%;
   max-width: 100%;
   margin: 10px auto;
   margin-left: 0;
   padding-left: 0;
 }
 .start .columns-3-1 .column1 .columns-2-1 .column1 .columns-1-1 {
   background: inherit;
 }
 .teaser .subteaser,.teaser .columns-1-1,.teaser .tip {
   margin: 15px 0 0 0;
   clear: both;
   padding-right: 0;
   /*width: 95%;*/
   margin: 0 auto;
 }
 #menus LI {
   float: left;
   margin: 0 9px 0 0;
   list-style-type: none;
   width: 100%;
 }
 #menu .selected A {
   float: left;
   margin: 0 9px 0 0;
   list-style-type: none;
   width: 65%;
   border: none !important;

 }
 #footer .general-links .content DIV.first {
   margin: 0 20px 0 0px;
   width: 100%;
 }
 DIV.image.image-left.image-medium {
   width: 100% !important;
 }
 DIV.image.image-right.image-medium{
   width: 100% !important;
 }
 .section-heading {
   clear: both;
   margin: 0 auto 10px auto;
   overflow: hidden;
   position: relative;
   width: 95%;
 }
 #slideshow1-list li p.caption {
   width: 100%;
   max-width: 100%;
 }

   .box {
   border: none;
   background: #fff;
 }
 .box h2 {
   border: none;
 }
 .box-body {
   overflow: hidden;
   margin: 0;
 }
 .accordion .accordion-part {
   border: none;
   border-top: 2px solid #ddd;
 }

 .stockNews td:last-child {
   border: none;
 }
 .stockNews tr.first td,.stockNews tr.first th {
   padding-top: 10px;
   background: none;
 }

 /*
.stockNews th {
width: 30%;
padding-right: 0;
font-weight: normal;
overflow: hidden;
border: none;
}
*/
 div.stocks tr.thead {
   padding: 10px 0;
   border-top: 1px solid #bfbfbf;
   border-bottom: 1px solid #bfbfbf;
   margin: 10px 0;
 }
 div.stocks td.plus {
   width: 31%;
   text-align: left;
   border-bottom: none;
 }
 div.stocks td.minus {
   width: 31%;
   text-align: left;
   border-bottom: none;
 }
 .stockNews .stocks div {
   float: left;
   width: 100%;
 }
 div.stocks td {
   width: 30%;
   float: left;
   text-align: left;
 }
 div.stocks th {
   width: 30%;
   float: left;
   text-align: left;
 }
 div.stocks tr {
   width: 100%;
   float: left;
   text-align: left;
 }
 .stockNews {
   width: 100%;
   margin: 10px 0 10px 0;
   padding: 4px;
   background: #F1F2F1;
   overflow: hidden;
 }
 .stockNews .stocks {
   background: #fff;
   overflow: hidden;
   width: 100%;
 }
 .stockNews thead,.stockNews .thead,.stockNews thead tr,.stockNews .thead tr,.stockNews thead th,.stockNews .thead th
   {
   margin: 0;
   padding: 0;
   position: inherit;
   left: 0;
 }
 .comment .entry-functions .button {
   margin: 0 2px 0 0;
   margin-bottom: 0px;
   margin-top: 23px;
 }
 .comment .entry-content {
   padding: 0 20px 7px;
   position: relative;
   margin: 0;
 }
 .comment .entry-meta {
   overflow: hidden;
   position: absolute;
   right: -10px;
   padding: 4px 0 4px 5px;
 }
 .page-prenumerera>.container {
   margin: 0 auto;
   width: 95%;
 }
 .page-prenumerera {
   margin: 0 auto;
   width: 100%;
   padding: 0;
 }
 .page-prenumerera #header {
   border: 0;
   background-image: none;
   position: relative;
   height: 100%;
   width: 100%;
 }
 .page-prenumeration-description {
   background-color: white;
   margin: 0;
   padding: 0;
 }
 .page-prenumeration-description .teaser {
   overflow: visible;
   position: relative;
   padding: 0;
 }
 .page-prenumeration-description .teaser .image {
   position: initial;
   left: 0;
   bottom: 0;
   margin: 0;
 }
 .page-prenumerera #menus {
   position: static;
   margin-top: 0;
   padding-bottom: 65px;
   height: 52px;
   width: 100%;
 }
 .page-prenumerera #menu {
   height: 150px;
 }
 .page-prenumerera>#menu a {
   width: 42%;
   float: left;
 }
 .page-prenumerera>#menu .selected a {
   width: 46%;
   float: left;
   margin: -50px 0 25px 0;
   /* padding-top: 6px; */
 }
 .page-prenumerera>#menu a {
   width: 42%;
   float: left;
   margin: -10px 0;
 }
 .page-prenumerera #menu li .selected {
   width: 50%;
   float: left;
 }
 .page-prenumerera img {
   max-width: 95%;
 }
 .page-prenumerera #page {
   margin: 0 auto;
   padding: 0;
   width: 100%;
 }
 .page-prenumerera #toggle {
   display: none;
 }
 .page-prenumeration-offer {
   width: 95%;
   margin: 0 auto;
 }
 .page-prenumerera #content {
   margin-top: 40px;
   overflow: visible;
   width: 100%;
   position: relative;
 }
 .page-prenumerera.page-login #content {
   margin-top: 0;
   padding-bottom: 225px;
   width: 100%;
   margin: 0 auto;
   margin-top: 35px;
 }
 .page-prenumeration-products {
   overflow: hidden;
   margin-bottom: 20px;
   margin-left: 0;
   width: 100%;
 }
 .page-prenumeration-compare {
   display: none;
 }
 .page-prenumeration-products .product .button {
   display: block;
   position: absolute;
   width: 55% !important;
   left: 15%;
   margin-left: 0;
 }
 .create-new-comment {
   width: 90%;
 }
 .create-new-comment #new-comment-heading {
   width: 90%;
 }
 .create-new-comment #new-comment-text {
   width: 250px;
   height: 65px;
 }
 .create-new-comment .articleCommentFormAgreement {
   width: 85%;
 }
 #page {
   background-color: #fff;
   overflow-x: scroll;
   overflow-y: hidden;
   margin: 35px auto 0 auto;
 }
 .javascript #sticky-ad {
   display: none;
 }
 a {
   word-break: break-word;
 }
 ul#menu.mobile-only>li>a#menu-item-a-o {
   display: none;
 }
 #top-teasers .search {
   border-top: none;
   margin: 0;
   padding: 0;
   position: relative;
 }
 div.login {
   display: none;
 }

 /* Tv subdomain */
 .media-grid .grid-row {
   position: relative;
   padding: 15px 0 20px 13px;
   width: 95%;
   overflow: hidden;
   margin: 10px auto;
 }
 .iframevideo-container {
   float: none;
   clear: both;
   width: 100%;
   position: relative;
   padding-bottom: 59%;
   padding-top: 25px;
   margin: 16% 0;
   height: 0;
 }
 .iframevideo-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 /* Prenumerera */
 .page-prenumerera>.container {
   margin: 0 auto;
 }
 .page-prenumerera #header {
   width: 99%;
   margin: 0 auto;
 }
 .newsletter-teaser FORM {
   padding: 10px;
   background: #eee;
   width: 90%;
   margin: 0 auto;
 }
 .article .newsletter-teaser INPUT {
   width: 100%;
 }
 .page-prenumerera.page-login #content {
   margin-top: 0;
   padding-bottom: 225px;
   width: 99%;
   margin: 0 auto;
 }

 /* tv page */
 .media-grid-1-1-1-1 LI {
   float: left;
   width: 22%;
   overflow: hidden;
   position: relative;
   margin: 5px 13px 10px 0;
   list-style-type: none;
 }
 .box-twitter {
   width: 90%;
 }
 .articleCommentInfo P {
   color: #4477aa;
   margin: 5px 15px;
   text-indent: 5px;
   width: 86%;
 }
 .inline-link-list {
   margin: 10px auto 0 auto;
   border-top: 1px solid #ccc;
   padding: 11px 0 0 0;
   clear: both;
   width: 96%;
 }
 .facts tr,td,table {
   padding: 0;
   margin: 0;
   width: 100%;
 }
 .media-grid LI.media-archive-half-width IMG {
   height: 99%;
   width: 90%;
 }
 .media-video .content {
   float: left;
   width: 90%;
   padding-top: 20px;
 }
 #main-pic {
   position: relative;
   z-index: 0;
   background: #1c1c1c;
   width: 95%;
   height: 100%;
   margin: 0 auto;
   overflow: visible;
 }
 .video-bug {
   position: absolute;
   z-index: 1000;
   top: -4px;
   right: -10px;
 }
 #top-teasers .search .search-types {
   left: 0px;
   position: absolute;
   top: 30px;
   z-index: 999;
 }
 #header .payoff {
   position: relative;
   left: 10px;
   margin-top: 99px;
   width: 95%;
 }
 #header .tools {
   margin-right: 25px;
   position: relative;
   left: 0px;
   top: -2px;
   margin-top: 8px !important;
   width: 100%;
 }
 .article .dateline {
   position: relative;
   color: #999;
   margin: 0 0 25px 0;
   overflow: visible;
 }
 .article .dateline .comments-info {
   display: block;
   position: static;
   text-align: left;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 .columns-1-1 {
   margin-top: 13px;
   border-top: 1px solid #ccc;
   /* background-position: 233px 0; */
 }
 .columns-3-1 .column2 {
   width: 99%;
   margin: 0 auto;
 }

 .comment-reply {
   padding: 25px 0 25px 0;
 }

 .comment .entry-title {
   padding: 16px 15px 5px 15px;
   font-weight: bold;
 }

  /* Quiz */
 .javascript #quiz-form LI {
         width: 297px;
 }
}

@media screen and (min-width:200px) and (max-width: 300px) {
 .columns-1-1 H2 {
   font-size: 17px;
 }
 #header #logo {
   width: 100%;
 }

}

/** /// Mobile Menu /// **/
@media screen and (min-width:200px) and (max-width: 800px) {
 p {
   word-break: break-word;
   margin: 10px 10px 0px 0;
   max-width: auto;
   font-size: 15px !important;
 }

 div#sticky-top-placeholder{
   height:165px;
   width:100%;
   margin-top:0px;
   margin-bottom:0px;
 }

 .padMessage {
   display: none;
 }
 #ad-content {
   /* To enable the animation, this code must be added to the "main-content" div, in this case #page */
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-overflow-scrolling: touch;
 }
 #ad-content>* {
   -webkit-transform: translateZ(0px);
 }

 div.sticky-top-container {
   position: absolute;
 }

 div#page {
   /*padding-top: 112px;*/
 }

 #content {
   padding: 5% 0 0 0;
 }
 #menus {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   background: #3c4451;
   z-index: 0;
   margin: 0;
   width: 80%;
   overflow: scroll;
 }
 #menus ul {
   list-style: none;
   margin: 0;
   padding: 0;
   /* overflow-y: auto; */
 }
 #menus ul li:first-child {
   width: 100%;
 }
 #menu {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 0;
   overflow: auto;
   -webkit-box-shadow: 2px 1px 3px 1px #4C5666;
   box-shadow: 2px 1px 3px 1px #4C5666;
 }
 #menu::-webkit-scrollbar {
   width: 12px;
 }
 #menu::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
 }
 #menu::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
   background-color: white;
   border: 1px solid black;
 }

 a#mobile-menu-button {
   width: 100%;
   height: auto;
 }
 #menu-toggle:checked ~ #ad-content {
   overflow-scrolling: none;
   -webkit-transform: translate3d(55%, 0, 0);
   -moz-transform: translate3d(55%, 0, 0);
   -ms-transform: translate3d(55%, 0, 0);
   -o-transform: translate3d(55%, 0, 0);
   transform: translate3d(55%, 0, 0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   pointer-events: none;
 }
 #menu-toggle ~ #ad-content {
   left: 0 !important;
   /*  overflow-scrolling: none; */
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   margin-left: 0;
   -webkit-transition: -webkit-transform 500ms ease;
   -moz-transition: -moz-transform 500ms ease;
   -o-transition: -o-transform 500ms ease;
   transition: transform 500ms ease;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
 }

 #menus ul li:hover a {
   cursor: pointer;
   /*  background: #DA2128;*/
 }
 #menus span {
   border: none;
 padding: 0;
 }
 #menus ul li a {
   padding: 10px 10px !important;
   margin: -1px auto;
   width: 65%;
   font-size: 17px;
 font-weight: normal;
 background: none !important;
 color: white !important;
 box-shadow: inset 0 -1px rgba(255,255,255,.275);
   border: none;
 }
 #menus .selected {
   padding: 0 !important;
   background: none !important;
 }
 #menus > ul > li.has-nav-toggle > a {
   padding-left: 10px !important;
 }
 #menus > ul > li.has-nav-toggle  {
         position: relative;
 }
 #menus > ul > li > .nav-toggle {
   padding: 10px;
   font-size: 10px;
   position: absolute;
   right: 80px;
   top: 0;
   width: 36px;
   background: none;
   border: none;
   color: white;
       -webkit-transform: rotate(0deg);
       -webkit-transition: .15s ease-in-out;
 }
 #menus > ul > li > .nav-toggle:before {
   content: "▶";
 }
 #menus > ul > li[data-open="open"] > .nav-toggle {
 /* content: "▼ "; */
         -webkit-transform: rotate(90deg);

 }
 #menus > ul ul {
       height: 0;
       overflow: hidden;
 }
 #menus > ul ul li {
       opacity: 0;
       -webkit-transition: all .3s ease-in-out;
       -webkit-transform: translate3d(0,-10px,0);
 }
 #menus > ul > li[data-open="open"] ul li {
         opacity: 1;
         -webkit-transform: translate3d(0,0,0);
 }
 #menus > ul ul li:nth-child(1) { -webkit-transition-delay: .033s; }
 #menus > ul ul li:nth-child(2) { -webkit-transition-delay: .066s; }
 #menus > ul ul li:nth-child(3) { -webkit-transition-delay: .1s; }
 #menus > ul ul li:nth-child(4) { -webkit-transition-delay: .133s; }
 #menus > ul ul li:nth-child(5) { -webkit-transition-delay: .166s; }
 #menus > ul ul li:nth-child(6) { -webkit-transition-delay: .2s; }
 #menus > ul ul li:nth-child(7) { -webkit-transition-delay: .233s; }
 #menus > ul ul li:nth-child(8) { -webkit-transition-delay: .266s; }
 #menus > ul ul li:nth-child(9) { -webkit-transition-delay: .3s; }
 #menus > ul ul li:nth-child(10) { -webkit-transition-delay: .333s; }
 #menus > ul ul li:nth-child(11) { -webkit-transition-delay: .366s; }
 #menus > ul ul li:nth-child(12) { -webkit-transition-delay: .4s; }
 #menus > ul ul li:nth-child(13) { -webkit-transition-delay: .433s; }
 #menus > ul ul li:nth-child(14) { -webkit-transition-delay: .466s; }
 #menus > ul ul li:nth-child(15) { -webkit-transition-delay: .5s; }

 #menus > ul > li[data-open="open"] > ul {
       height: auto;
 }
 #menus ul ul li a {
 padding-left: 25px !important;
 }
 body.resp #menus .selected A SPAN {
 background: inherit;
 color: inherit !important;
 border: none;
 padding: 0;
 }

 #menus ul ul li a:hover {

 }
 .top-bar label {
   display: none
 }
 .top-bar {
   position: absolute;
   pointer-events: auto;
   width: 100%;
   z-index: 9999;
   max-height: 50px;
   top: 0px;
   /*height: 50px;*/
   padding-bottom: 30px;
   left: 0px;
 }
   .top-bar label {
     display: block;
     position: inherit;
     padding: 0px 10px 10px;
     font-size: 60px;
     line-height: .75;
     top: 30px;
     left: -5px;
   }
 .top-bar label span {
   display: none;
 }
 #header {
   height: 100%;
   width: 95%;
   display: block;
   /*margin: 0px auto 3% auto;*/
   margin-top: 0;
 }

 #header #logo{
  margin:10px 0;
 }

 .article H1 {
   font-size: 3em;
   font-weight: bold;
   line-height: 1.0;
   padding: 0 0 7px 0;
   /* margin: 0 0 5px 0; */
   border-bottom: 1px solid #ccc;
   margin: 10px auto;
   /*width: 95%;*/
 }
 .article {
   position: relative;
   overflow: hidden;
   padding-bottom: 30px;
   /*width: 95%;*/
 }
 .mobile-only {
   display: none;
 }
 .desktop-only {
   display: block;
 }
 .mobile-only {
   display: block !important;
 }
 .desktop-only {
   display: none !important;
 }
 .top-bar {
   display: block;
 }
 .article .additional-content {
   width: 45%;
   clear: both;
 }
 div.carousel-box-part.carousel-box-part-2 {
   width: 90%;
   border: none;
 }
 .box H2 {
   width: 91%;
 }
 .comment-reply {
   border-left: none;
 }
 .comment {
   width: 100%;
 }
 div#comments.hfeed {
   width: 100%;
   margin: 10px 0;
 }
 #comments-paging-container {
   background: #EEE;
   padding: 10px 7px;
   float: left;
   width: 95%;
 }
 .page-prenumerera.page-login #content .article .buttonClose {
   top: -340px !important;
   left: 0 !important;
   z-index: 9020;
 }
 #menus UL {
   width: 100%;
   margin-left: 0px;
 }
 .columns-1-1 .column1 .columns-1-1 .columns-1-1,.columns-1-1 .column1 .columns-1-1,.columns-1-1 .column2 .columns-1-2,.columns-1-1 .column2 .columns-2-1,.columns-1-1-1,.columns-3-1,.columns-2-1
   {
   background: 0;
 }
 .wide .columns-3-1 div.search-block {
   width: 95%;
 }
 .form-box-advanced-search {
   margin: 0;
   width: 100%;
   overflow: visible;
 /*  float: left; */
 }
 .form-box-advanced-search .free-text {
   float: left;
   margin: 0 23px 0 0;
   width: 50%;
 }
 .form-box-advanced-search .time-frame input {
   float: left;
 }
 #content .column1 div.search-block .form-box-advanced-search .free-text INPUT#search-page-string
   {
   width: 62%;
   margin: 0 10px 10px 0;
   padding: 12px;
   font-size: 20px;
   color: #555;
   float: left;
 }

 #twingly .tw_widget {
   margin: 10px auto 0 auto;
   width: 95%;
 }

 .columns-3-1 .column1 INPUT, .columns-3-1 .column1 TEXTAREA {
   /* width: 75%; */
 }

 /** Prenumerera **/
 .page-prenumeration-products .product {
   width: 40%;
   display: block;
   padding: 12px;
   margin: 1%;
   min-height: 455px;
 }
 #authenticatorPopup {
   position: relative;
   left: 0% !important;
   margin-top: 15%;
   margin-left: 0;
   height: 100%;
   width: 100%;
   z-index: 10000;
   pointer-events: all;
 }
 .columns-3-1 .column1 {
   width: 100%;
 }
 .page-prenumerera.page-login #content {
   margin-top: 0;
   padding-bottom: 225px;
   width: 100%;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 {
   width: 59.7% !important;
 }
 .page-prenumerera.page-login .section-heading {
   margin: 0 auto 0;
   padding-top: 20px;
   width: 50%;
 }
 .page-prenumerera.page-login .form-box-login div {
   margin-bottom: 14px;
   position: relative;
   width: 50%;
   text-align: center;
 }
 .page-prenumerera.page-login .form-box-login {
   overflow: visible;
   margin: 0 auto 20px;
   padding: 0;
   width: 50% !important;
   background: none;
 }
}

@media screen and (min-width:400px) and (max-width: 767px) {
 .columns-1-1 .column2 .columns-1-1 {
   width: 100%;
   position: relative;
 }
 .columns-1-1 .column1 {
   width: 30%;
   margin-right: 0;
   padding-right: 0;
   display: block;
   margin-left: 0;
 }
 .columns-1-1 .column1 {
   width: 52.5%;
   margin: 0 auto;
 }
 .columns-1-1 .column2 .columns-1-1 .column1 { /* width: 30%; */
   width: 70%;
   margin-right: 0;
   padding-right: 0;
   display: block;
   margin-left: 0;
 }
 .columns-1-1 .column2 .columns-1-1 .column2 {
   width: 52.5%;
   margin: 0 auto;
 }
 .section-heading {
   clear: both;
   margin: 0 6px 3px 6px;
   overflow: hidden;
   position: relative;
 }
}

@media screen and (min-width:768px) and (max-width: 800px) {
 .columns-1-1 .column2 .columns-1-1 .column2 {
   width: 88.5%;
   margin: 0 0px 0 -5px;
 }
}

@media screen and (min-width : 200px) and (max-width: 480px) {
 #top-teasers {
   height: 112px;
 }
 #top-teasers .item-0 {
   border-bottom: 1px dotted #E2E2E2;
   padding-bottom: 15px;
   width: 100%;
 }
 #top-teasers .item-0 .stock-teaser .stock-item {
   border: none;
   float: left;
   margin: 10px 0 0 0;
   padding: 0;
   width: 50%;
 }
}

@media screen and (min-width : 200px) and (max-width: 480px) and
 (orientation : portrait) {
 .columns-1-1 H2 {
   font-size: 28px;
   margin: 0;
   line-height: 0.85;
 }
 .mobile-only {
   display: block;
 }
 .desktop-only {
   display: none;
 }
 .top-bar {
   display: block;
 }
 .columns-1-1 .column1 .columns-1-1 .column2 {
   width: 90% !important;
 }

 .columns-1-1.first {
   width: 100%;
   margin: 30px auto 0 auto;
   top: 0;
   position: relative;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 .columns-1-1-1 {
   background: none;
   padding-left: 8px;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 {
   width: 100% !important;
   margin: 7px auto !important;
 }
 .columns-3-1 .column1 .columns-2-1 .column2 {
   width: 100% !important;
   margin: 10px auto;
 }
 .columns-3-1 .column1 .columns-2-1 .column3 {
   width: 100% !important;
   margin: 10px auto;
   padding: 0;
 }
 a {
   color: #0C96ED;
   text-decoration: none;
   /*font-size: 20px;*/
 }
 .teaser H2, .teaser H3 {
   margin-bottom:10px;
 }
 .teaser H2 A,.teaser H3 A {
   color: #000000;
   /*font-weight: bold;*/
   font-size: 28px;
 }
 .teaser .subteaser h3, .teaser .pullteaser h3{
       line-height: 18px;
 }
 .teaser .subteaser h3 a, .teaser .pullteaser h3 a {
       font-size: 16px;
 }
 .comment {
   background: #eee url(../images/bg_comment.gif) no-repeat scroll bottom
     left;
   margin: 0 0 17px 0;
   padding: 0 0 70px;
   position: relative;
   overflow: hidden;
 } /*
 #top-teasers {
   width: 90%;
   position: fixed;
   background: none;
   float: left;
   height: 115px;
   left: 0;
 }*/
 body.resp #top-teasers {
   height: auto;
 }
 #top-teasers .item-0 {
   border-bottom: 1px dotted #E2E2E2;
   padding-bottom: 5px;
   width: 100%;
 }
 #top-teasers .item-0 .stock-teaser .stock-item {
   border: none;
   float: left;
   margin: 10px 0 0 0;
   padding: 0;
   width: 50%;
 }
 #top-teasers .item-1 {
   display: none;
 }
 .columns-1-1 .column2 .columns-1-1 .column2 {
   width: 100%;
   margin-top: 50px;
   margin-left: -5px;
 }
 div.article.info-article table td {
   border: none;
   position: relative;
   padding-left: 0;
   width: 100%;
 }
 #content {
   overflow: visible;
   width: 100%;
 }
}

/* Smartphones (portrait) ----------- */
@media screen and (min-width : 200px) and (max-width: 767px) {
 html,body {
   max-width: 768px;
 }
 body.resp div#content {
   padding: 5px 10px 5px 10px;
   width: 100%;
   box-sizing: border-box;
 }
 .column1 img {
   max-width: 100%;
 }

 #content .ad {
   width: 100%;
 }

 div.ad.hi-media {
   width: auto;
   margin: 12px 0 0 0;
   padding: 5px 0 5px 0;
   border-bottom: 1px dotted #D5D5D5;
   border-top: 1px dotted #D5D5D5;
   position: relative;
   display: inline-block;
   float: left;
   width: 100%;
   height: 777px;
   background: #222;
 }

 ad.hi-media img {
  width:50%;
 }
 .columns-1-1 .column1 {
   width: 96% !important;
   /*margin: 30px 2% 0 2%;*/
 }
 .columns-1-1.first {
   width: 100%;
   margin: 50px auto 0 auto;
   top: 0;
   position: relative;
 }
 .columns-1-1 .column1>div {
   /*width: 100%;*/
   margin: 0 auto;
 }
 .columns-1-1 .column2 {
   width: 100%;
   margin: auto;
   padding-left: 0 !important;
   padding-right: 0 !important;
 }
 .columns-2-1 {
   width: 100%;
   height: 100%;
 }
 .columns-2-1 {
   width: 95%;
   height: 100%;
   margin: 0 auto;
 }
 .columns-2-1 .column1 {
   width: 100%;
   margin: 0 auto;
 }
 .columns-2-1 .column1 .columns-2-1 .column1 {
   width: 100%;
   margin: 0 auto;
 }
 .columns-2-1 .column1 .columns-2-1 .column2 {
   width: 100%;
   margin: 0 auto;
 }
 .columns-3-1 {
   width: 100%;
   height: 100%;
 }
 .columns-3-1:first-of-type {
   width: 100%;
   height: 100%;
   margin-top: 55px;
 }
 .columns-3-1 .column1 {
   width: 100%;
   margin: 0 auto;
 }
 .columns-3-1 .column1 .columns-2-1 .column1 {
   width: 100%;
   margin: 0 auto;
 }
 .columns-3-1 .column1 .columns-2-1 .column2 {
   width: 100%;
   margin: 10px auto;
 }
 div#content {
   padding: 0px 0px 5px 0px;
   width: 100%;
 }
 .columns-1-1 .column1 .columns-1-1 .columns-1-1,.columns-1-1 .column1 .columns-1-1,.columns-1-1 .column2 .columns-1-2,.columns-1-1 .column2 .columns-2-1,.columns-1-1-1,.columns-3-1,.columns-2-1
   {
   background: 0;
   width: 100%;
   margin: 0 auto;
 }
 .columns-3-1 .column1 {
   width: 100%;
   overflow: visible;
   margin: 0 auto;
 }
 div.item.item-1 {
   display: none;
 }

 /* top menu */
 #global-navigation {
   overflow: hidden;
   position: absolute;
   top: -25px;
   left: 0;
   width: 98%;
   height: 50px;
   _height: 1%;
   font-family: sans-serif;
   border: 12px solid #fff;
   border-width: 0 12px;
   padding: 0% 0%;
   z-index: 9999;
 }
 #global-navigation UL,#global-navigation-more UL {
   _height: 1%;
   width: 100%;
 }
 #global-navigation UL LI {
   margin: 0;
   height: 25px;
   width: 130px;
 }
 div#global-navigation {
   display: none !important;
 }

 /* /top menu */
 .swfObject {
   width: 100%;
   height: 100%;
 }
 #page {
   width: 100%;
   margin: 0 auto;
   padding: 0 0px 20px 0;
 }
 .ad {
   width: 100%;
   position: relative;
   background: transparent;
   float: left;
 }
 .small-teaser {
   border-top: none;
 }
 .teaser {
   font-size: 17px;
   width: 98%;
   margin: 0 auto;
 }
 #content {
   width: 100%;
   position: relative;
   height: 100%;
   background-color: #ffffff;
   padding: 30px 0 0 0;
 }
 .mobile-only {
   display: block !important;
 }
 .desktop-only {
   display: none !important;
 }
 .top-bar {
   display: block !important;
 }
 .container {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   max-width: 768px;
   position: relative;
   margin-left: -5px;
 }
 .ad .hi-media {
   margin-right: auto !important;
   margin-left: auto !important;
   width: 50% !important;
 }
 div.type-default.open {
   /*width: 95%;*/
   margin: 10px auto;
 }
 div.type-default.open>.teaser {
   width: 100%;
   margin-left: 2px;

 }
 /* div.columns-1-1>.column2>.columns-1-1>.column1>div.type-default.open {
   width: 45%;
   margin: 20px auto -50px auto;
   float: left;
   padding: 5px 5px;
   height: 230px;
 }*/
 div.columns-1-1>.column2>.columns-1-1>.column1>div.type-default.open {
   width: 100%;
   margin: 10px auto;
   /*float: left;*/
   padding: 5px 5px;
   height: 200px;
 }
 div.column2>div.columns-1-1>div.column1 {
   margin-left: 3px;
   margin-right: -20px;
 }
 .small-teaser h2 {
   text-align: left;
   width: 95%;
 }
 div.type-default.open .teaser {
   margin: 15px 0;
   /*padding: 30px 0 15px 0;*/
 }
 div.teaser.default.teaser {
   width: 50%;
 }
 .type-default div.default-teaser  h2 a {
   font-size: 22px;
 }
 ul#menu>li>a span {
   width: 100% !important;
   font-size: 17px;
 }
 .article-bread {
   font-size: 1.2833em;
   line-height: 1.3;
   /*width: 95%;*/
   margin: auto;
 }
 div#slideshow0-nav.navigation {
   bottom: 40px;
   visibility: initial;
   opacity: 1;
 }
 div#footer {
   height: 100%;
   display: inline-block;
   padding: 0px 0 5% 10px;
   width: 95%;
   margin: 0 auto;
 }
 #footer .general-links {
   margin: 0px 0 10px 0;
   width: 95%;
   padding: 45px 0 0 0;
 }
 #footer .general-links .content {
   background: none;
   margin: 25% 0 0 0;
   width: 100%;
   height: 50%;
 }
 #footer .general-links .content DIV {
   margin: 0 23px 0 0px;
   width: 80%;
   font-size: 20px;
   float: left;
   margin: 0 auto !important;
   padding: 14px 0;
 }
 .article {
   position: relative;
   overflow: hidden;
   padding-top: 30px;
   padding-bottom: 30px;
   /*width: 98%;*/
 }
 .article .lead {
   margin: 10px 0 0 0px;
  }
 .columns-1-1>.column1>.teaser {
   width: 99%;
   margin: 0 auto;
 }
 /*Jump the shark*/
 #stock-teaser {
   display: none;
 }
 .bors-feature-teaser .content {
   width: 95%;
   margin: 0 auto;
 }
 .bors-feature-teaser .bors-teaser {
   width: 85%;
   margin-left: 1%;
   border-right: none;
 }
 .bors-feature-teaser .bors-teaser.analys {
   width: 85%;
   word-break: normal;
 }
 div.search-types {
   visibility: visible;
   opacity: 1;
   display: block;
   background: #fff;
   height: 25px;
   padding: 5px 5px;
 }
 .bors-teaser.analys .sup-heading {
   height: 50px;
 }
 div.socialwidget {
   width: 97%;
   margin: auto;
 }
 .teaser P {
   overflow: visible;
   width: auto;
 }
 .teaser h2, .teaser h3 {
   line-height: .85;
 }
 body.resp .header-resp-switch{
   padding-top: 0px;
 }
}

@media screen and (min-width:768px) and (max-width:801px) and
 (orientation : portrait) {
 .bors-feature-teaser .bors-teaser {
   width: 100%;
 }
 #top-teasers {
   position: relative;
   top: 5px !important;
   width: 60%;
   height: 126px;
   float: right;
   background: transparent;
 }
 #top-teasers .item-0 {
   position: relative;
   width: 100%;
   display: block;
   float: left;
   left: 0;
   background: transparent;
   border: none;
 }
 #top-teasers .item-1 {
   position: absolute;
   left: 140px;
   top: 0px;
   margin: 0 0 0 19px;
   /* float: right; */
 }
 #top-teasers .item-2 {
   position: relative;
   left: -67%;
   top: 30px;
   margin: 0 0 0 0px;
 }
 #top-teasers .item-3 {
   position: absolute;
   left: -300px;
   top: -35px;
 }
 #top-teasers .item-4 {
   position: relative;
   right: 0;
   top: -36px;
   text-align: right;
   /* display: none; */
   width: 112%;
 }
 .page-prenumerera #menus {
   position: static;
   margin-top: 0;
   padding-bottom: 65px;
   height: 30px;
   width: 100%;
 }
 .page-prenumerera #menu {
   height: 100px;
 }
}

@media screen and (min-width:600px) and (max-width:801px) and
 (orientation : landscape) { /* #top-teasers {
   width: 45%;
   position: absolute;
   background: none;
   display: block;
   overflow: hidden;
 }*/
 .mobile-only {
   display: block;
 }
 .desktop-only {
   display: none;
 }
 .top-bar {
   display: block;
 }
 #global-navigation {
   display: none;
 }
 div.columns-1-1>div.column2>div.columns-1-1 {
   margin-left: 5%;
 }
 #top-teasers .item-0 {
   display: none;
 }
}

@media screen and (min-width:480px) and (max-width:801px) and
 (orientation : landscape) {
 .mobile-only {
   display: block !important;
 }
 .desktop-only {
   display: none !important;
 }
 .top-bar {
   display: block !important;
 }
 #global-navigation {
   display: none;
 }
 .columns-1-1 .column2 {
   width: 80%;
 }

 .teaser {
 position: relative;
 border-top:0;
}

 ad IMG, .ad EMBED, .ad OBJECT, .ad IFRAME, .ad DIV, #sticky-ad IMG, #sticky-ad EMBED, #sticky-ad OBJECT, #sticky-ad IFRAME, #sticky-ad DIV {
display: block;
vertical-align: top;
max-width: 100%;
width: inherit;
}

 /*
 #top-teasers {
 position: absolute;
 z-index: 1;
 left: 46% !important;
 top: 100px !important;
 width: 63%;
 height: 125px;
 background: url(../images/bg_topTeasers.png) repeat-x 0 0;
 }

 #header {
   min-height: 125px;
   width: 50%;
   display: inline-block;
   margin: 3%;
 }
*/
 .box {
   margin: 0px 0 0 0;
 }
}

@media screen and (min-width:500px) and (max-width:768px) {
 div.columns-1-1 {
   width: 100%;
 }
 div#global-navigation {
   width: 100%;
 }
 div#global-navigation ul {
   max-height: 80px;
   min-height: 40px;
   height: 100%;
 }
 #page {
   height: 100%;
   width: 100%;
   margin: 0 auto;
 }
 div.ad.hi-media {
   padding: 5% 0 !important;
   margin: 5% auto !important;
 }
 .column2 .columns-1-1 .column1 {
   margin-left: 5px;
   padding-right: 10px;
 }
 .column2>div.type-stockTeaser.open {
   width: 99.5%;
   margin: 0 auto;
 }
 div#page {
   width: 100%;
   /* padding-top: 0; */
 }
 #header {
   min-height: 155px;
   margin: 55px 0 -25px 0;
   z-index: 1;
   display: block;
 }
 .article {
   position: relative;
   overflow: hidden;
   padding-bottom: 30px;
   width: 95%;
 }
 .tabbed-box .tabbed-box-tabs SPAN {
   font-size: 19px;
 }
 #top-teasers .item-0 {
   position: relative;
   width: 100%;
   display: block;
   float: left;
 }
 #footer {
   width: 95%;
 }
 #footer .general-links {
   margin: 0 0 10px 0;
   padding: 130px 0 0 0;
 }
 .mobile-only {
   display: none;
 }
 .desktop-only {
   display: block;
 }
}

/* iPads (portrait) ----------- */
@media screen and (min-width : 580px) and (max-width : 1023px) and
 (orientation : portrait) {
 .size5 h2 {

 }
 .article {
   position: relative;
   overflow: hidden;
   padding-bottom: 30px;
   width: 95%;
 }
 div.ad.hi-media {
   padding: 5% 0 !important;
   width: 100%;
 }
 .small-teaser {
   border: none;
 }
 .columns-1-1 .column2 .columns-1-1 {
   width: 100%;
   margin-left: 0%;
 }
 .mobile-only {
   display: block;
 }
 .desktop-only {
   display: none;
 }
 #footer .contact-info {
   margin: 5%;
 }
}

@media screen and (min-width: 768px) and (max-width:1024px) and
 (orientation:portrait) {
 .columns-1-1.first {
   width: 100%;
 }
 .columns-1-1 .column1 {
   width: 61%;
   margin: 0 auto;
   overflow: hidden;
 }
 .columns-1-1 .column2 .columns-1-1 .column1 {
   width: 85%;
 }
 .columns-1-1 .column2 {
   width: 36%;
   margin: 0 auto;
 }
 div.search-types {
   background: #fff;
   height: 25px;
   padding: 5px 5px;
 }
 /*.teaser DIV.image-left,.teaser DIV.image-right {
   width: 100% !important;
 }*/
 .page-prenumerera>.container {
   margin: 0 auto;
   width: 90%;
 }
 #menu li {
   margin: 0 0 0 10px;
   width: 300px;
   padding: 0px 0;
 }
 #menus ul li:first-child {
   margin: 60px 0 0 10px;
   width: 300px;
 }
 #content {
   overflow: visible;
   width: 100%;
 }
 .column2>div.type-stockTeaser.open {
   max-width: 90%;
   float: left;
   word-break: break-word;
 }
 .box-twitter .picture {
   width: 104%;
 }

 .sticky-top {
   margin: 45px 0 0 0 !important;
 }
}

@media screen and (min-width: 775px) and (max-width:800px) {
 /* @TODO Quick fix. */
 #menus ul {
     width: 95%;
 }
}

@media screen and (min-width: 480px) and (max-width:860px) and
 (orientation: portrait) {
 .article {
   position: relative;
   overflow: hidden;
   padding-bottom: 30px;
   width: 95%;
 }

 .teaser DIV.image-medium {
   width: 100% !important;
 }
}

/* iPads (landscape) bugfixes ----------- */
@media screen and (min-width : 1023px) and (max-width : 1025px) and
 (orientation : landscape) {
 .top-bar {
   display: block;
 }
 .container {
   max-width: none;
   margin-left: -5px;
 }

 .teaser P {
   font-size: 17px;
 }
 #footer>.general-links>.content {
   padding: 0px 0;
   margin: -5px 0 0 0;
 }
 #global-navigation {
   top: 0;
   margin-left: 5px;
   display: block;
 }
 .padMessage {
   margin-left: 10px;
   width: 102%;
   height: 25px;
   padding-top: 30px;
 }
 .mobile-only {
   display: none;
 }
 .desktop-only {
   display: block;
 }
 .article {
   position: relative;
   overflow: hidden;
   padding-bottom: 30px;
   width: 95%;
 }
 #top-teasers .item-2,#top-teasers .item-3 {
   right: 0%;
   top: 0px;
 }
}

@media screen and (min-width:100px) and (max-width:999px) {
 .page-prenumerera #menu {
       position: relative;
   height: auto !important;
       width: 100%;
       padding: 10px;

 }
 .page-prenumerera #menus {
   height: auto !important;
   width: 100%;
       padding: 0;
 }
 .page-prenumerera #menu li,
 .page-prenumerera #menu a {
       display: block;
         float: none;
 }
 .page-prenumerera #menu a {
   color: #f2f2f2;
   display: block;
   line-height: inherit;
   border: 0;
   margin: 0;
   padding: 5px 10px;
   background-color: transparent;
   background-image: none;
   font-weight: 400;
   width: 94%;
 }
 .page-prenumerera #menu li:last-child a {
   box-shadow: none;
 }
}