<section class="section--about fade">
	<div class="box--about-headline">
		<h2>Hi there.</h2>
	</div>
	<div class="box--about-content">
		<p>
			Hi, I’m <strong>Razi Kantorp-Weglin</strong>, experienced digital designer, front-end developer and a lot of other stuff.
		</p>
		<p>
			Based in Stockholm, Sweden and currently happy freelancing. Proud founder of <a href="http://krig.io/" target="_blank">KRIG community</a>, volunteer a <a href="http://fatta.nu/" target="_blank">Fatta!</a> and you can find me at <a href="http://knackeriet.se/" target="_blank">KNACKERIET</a>. Feel free to <a href="mailto:hi@razitazi.com">get in touch</a> about interesting projects, stupid projects, dinosaurs and cats.
		</p>
		<p class="finstilta">
			(Not currently interested in any full-time employment.)
		</p>
	</div>
</section>
