<section class="section--interact fade">
	<div class="box--interact-insta">
			 <div id="instafeed"></div>
	</div>
	<div class="box--interact-headline">
		<h2>Links to things I do.</h2>
	</div>
	<ul class="box--interact-links">
		<li class="box--interact-links__item">
			<a href="http://krig.io/" target="_blank">
				<h3><span class="source">Freelance community:</span> KRIG.io</h3>
				<p>We started a freelance community with tech nerds.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://bogren.github.io/stupidhack/" target="_blank">
				<h3><span class="source">Stupid project:</span> iTrump</h3>
				<p>My teams result of the Stupid Hackathon Sweden - a Trump robot.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="http://codepen.io/razitazi/details/WbZaOq/" target="_blank">
				<h3><span class="source">Codepen:</span> Vanilla Javascript push menu</h3>
				<p>Sometimes you just need a really simple push menu, without any Javascript Libraries.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://dribbble.com/shots/2739958-wolf-on-wallstreet" target="_blank">
				<h3><span class="source">Dribbble:</span> wolf on wallstreet</h3>
				<p>Just felt like playing around and ended up with a new poster.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://github.com/raziraz/nunjuck-postcss-boilerplate" target="_blank">
				<h3><span class="source">Github:</span> nunjuck-postcss-boilerplate</h3>
				<p>A simple boilerplate to kickstart a front-end project.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
	</ul>

	<div class="box--interact-bye fade">
		<h2><a href="mailto:hi@razitazi.com">Bye?</a></h2>
	</div>
</section>
