<section class="section--intro">
	<div class="box--intro-img chill" data-rellax-speed="7">
		<div class="lazy-wrap lazy-wrap--portrait">
			<img data-src="assets/img/razi-kantorp-weglin.jpg" class="lazyload">
		</div>
	</div>
	<div class="box--intro-main">
		<div class="box--intro-main__headline chill" data-rellax-speed="0">
			<svg class="site-logo">
  			<use xlink:href="assets/icons/icons.svg#bolt"></use>
			</svg>
			<h1>I design & code digital things</h1>
		</div>
	</div>
</section>
