<section class="section--more fade">
	<div class="box--more-content">
		<p>
			I could never choose between design or development, so I kept doing both. And I’m really happy I did.
		</p>
		<p>
			UX is not just something that should stop after the drawing table, it’s so much more. Understanding and evaluating the experience helps to secure the bridges between vision and execution. Speed performance, accesabillity, technical hinders & device specific issues are all things that often fall through the cracks.
		</p>
		<p>
			<strong>I love</strong> to fill thoose cracks.
		</p>
	</div>
	<div class="box--more-img">
		<div class="lazy-wrap lazy-wrap--landscape">
			<img data-src="assets/img/razi-kantorp-weglin-2.jpg" class="lazyload">
		</div>
	</div>
</section>
