<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

	{% include 'sections/intro.njk' %}

	{% include 'sections/about.njk' %}

	{% include 'sections/more.njk' %}

	{% include 'sections/interact.njk' %}

{% endblock %}
