#page {
	padding-top:29px;
}
OL { 
	padding-left: 2.3em;
}
#top-teasers .search .search-field INPUT {
	margin-top: -1px;
}
.tags UL,
UL.tags {
	padding-bottom: 3px;	
}
.sIFR-active .box H1 {
	margin-bottom: -1px;
}
.sIFR-active .prime-teaser .sup-title,
.sIFR-active .links H1, 
.sIFR-active .links H2, 
.sIFR-active .tags H1,
.sIFR-active .tags H2 {
	padding-bottom: 3px;	
}
.tooltipElm SPAN {
	background: #333;
}
.article .tools,
#comments,
.comment,
.article,
.entry-content,
.poll .result,
.poll .question {
	min-height: 1px;
}
.auto-completion-list {
	margin-left: 6px;
	margin-top: 6px;
}
.poll .result,
.poll .question {
	background-color: #f2f9ff;
}
.job-results OL LI {
	margin-bottom: -3px;
}
.job-results OL LI A {
	padding-bottom: 38px;
}
.form-box-advanced-search .free-text INPUT {
	margin-top: 3px;
}
.form-box-advanced-search .free-text .submit {
	margin-top: 0;
}
.form-box-advanced-search .time-frame DIV {
	padding: 0;
	margin: 0;
}
.image-archive .media-grid LI {
	zoom: 1;
	display: inline;
	margin-right: 25px;
}
.search-heading {
	zoom: 1;
}
.input-description {
	background: #f2f9ff;
}
.job-statistics-definition {
	background: #f2f9ff;
}
#quiz OL .button,
#quiz .share IFRAME,
#quiz .share A.button,
#start_quiz,
.teaser-list LI,
.teaser .button {
	zoom: 1;
	display: inline;
}
.teaser .links ul {
	padding: 0;
}
.teaser .links a {
	display: list-item;
	list-style-position: inside;
	list-style-type: square;
	white-space: nowrap;
}
